<section id="contacts">
  <div class="section-heading">
    <div class="line1"></div>
    <div class="section-name"><span class="number">03. </span>My Contacts</div>
    <div class="line2"></div>
  </div>

  <div class="contact-me">
    <h1>I’m open to new proposals!</h1>
    <p>
      Feel free to <span class="highlight">contact</span> me
      <span class="highlight">wherever</span> (<span class="highlight"
        >phone number is not awailable atm</span
      >) and <span class="highlight">whenever</span> you want!
    </p>
    <button><span class="highlight">Contact me</span></button>
  </div>

  <div id="attribution">
    Huge thanks to <span class="brittany">Brittany Chiang</span> (make sure to
    <a href="https://brittanychiang.com" target="_blank" class="brittany"
      >check her website</a
    >) for amazing website that became source of inspiration for my own
    portfolio website!
  </div>
  <p id="github-link">
    don’t forget to check my
    <a href="" target="_blank" class="highlight">github</a> tho
  </p>
</section>
