#contacts {
  text-align: center;
}

.section-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 50px;
}

.line1 {
  background-color: var(--important);
  width: calc(1420px - 82%);
  height: 1.5px;
}

.section-name {
  font-size: 25px;
  line-height: 35px;
  margin: 0 8px;
}

.line2 {
  background-color: var(--important);
  width: calc(1420px - 30.3%);
  height: 1.5px;
}

.contact-me {
  width: 800px;
  margin: 0 auto 200px;
}

.contact-me h1 {
  font-size: 64px;
  font-weight: 500;
  margin-bottom: 50px;
}

.contact-me-button {
  background: none;
  border-color: var(--important);
  padding: 12px 65px;
  border-radius: 12px;
  border: 1px solid var(--important);
  font-size: 32px;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.contact-me-button:hover {
  background-color: rgba(255, 240, 181, 0.2);
}
