<section id="contacts">
  <div
    class="section-heading"
    data-aos="fade-up"
    data-aos-duration="500"
    data-aos-delay="200"
  >
    <div class="line1"></div>
    <div class="section-name"><span class="number">03. </span>My Contacts</div>
    <div class="line2"></div>
  </div>

  <div
    class="contact-me"
    data-aos="fade-up"
    data-aos-duration="500"
    data-aos-delay="250"
  >
    <h1>I’m open to new proposals!</h1>

    <a
      href="https://www.linkedin.com/in/thespacenoodle/"
      class="contact-me-button highlight"
      >Contact me</a
    >
  </div>
</section>
