<section id="about">
  <div class="section-heading" appAOS="500" [aosDelay]="200">
    <div class="line1"></div>
    <div class="section-name"><span class="number">01.</span> About Me</div>
    <div class="line2"></div>
  </div>
  <div id="about-content" appAOS="1000" [aosDelay]="250">
    <div id="about-me">
      <p class="part-one">
        Hello, my name is <span appHighlight>Volodymyr Shchebyna</span> and I am
        <span appHighlight>frontend developer</span>. I am really into fantasy so I am a wizard and development process
        is my magic. My real start as frontend developer was at the moment, when my friend said that I can participate
        in a <span appHighlight>Sikorsky Challenge</span> if I’ll help him in creating a website. Before frontend
        development was more like a playground where I just spend some days doing this and that playing with
        <span appHighlight>HTML</span>, <span appHighlight>CSS</span> and <span appHighlight>JS</span>.
      </p>
      <p class="part-two">
        For today I’ve had privilege of working with
        <span appHighlight>medium</span>, <span appHighlight>small sized teams</span> and
        <span appHighlight>alone</span>. You can learn more about teams I’ve been working with at the next section.
      </p>

      <div id="techs">
        <p class="part-three">
          Here are a few
          <span appHighlight>technologies I’ve been working with recently</span>:
        </p>

        <div id="tech-list">
          <div class="tech-block" appAOS="500" [aosDelay]="300">
            <img src="./assets/tech/Vector-2.svg" alt="" />
            <p>Angular</p>
          </div>
          <div class="tech-block" appAOS="550" [aosDelay]="400">
            <img src="./assets/tech/Group.svg" alt="" />
            <p>React</p>
          </div>
          <div class="tech-block" appAOS="600" [aosDelay]="500">
            <img src="./assets/tech/Vector-1.svg" alt="" />
            <p>JavaScript</p>
          </div>
          <div class="tech-block" appAOS="650" [aosDelay]="600">
            <img src="./assets/tech/Vector-4.svg" alt="" />
            <p>TypeScript</p>
          </div>
          <div class="tech-block" appAOS="700" [aosDelay]="700">
            <img src="./assets/tech/Vector.svg" alt="" />
            <p>Node.js</p>
          </div>
        </div>
      </div>
    </div>

    <div id="about-img"></div>
  </div>
</section>
