<footer>
  <div
    id="attribution"
    data-aos="fade-up"
    data-aos-duration="500"
    data-aos-delay="300"
  >
    Huge thanks to
    <a href="https://brittanychiang.com" target="_blank" class="brittany"
      >Brittany Chiang</a
    >
    for amazing website that became source of inspiration for my own portfolio
    website!
  </div>
  <p
    id="github-link"
    data-aos="fade-up"
    data-aos-duration="500"
    data-aos-delay="300"
  >
    don’t forget to check my
    <a href="https://github.com/SheogorathD" target="_blank" class="highlight"
      >github</a
    >
    tho
  </p>
</footer>
