<div
  id="navbar"
  [ngClass]="
    scrolled == 1 ? 'fixed-hidden' : scrolled == 2 ? 'fixed-shown' : ''
  "
>
  <div id="main-logo">
    <a href="#home"><img src="./assets/logo.png" alt="" /></a>
  </div>

  <div id="nav-links">
    <ul>
      <li data-aos="fade-down" data-aos-duration="1000">
        <a href="#about"><span class="number">01.</span> About</a>
      </li>
      <li data-aos="fade-down" data-aos-duration="1000" data-aos-delay="50">
        <a href="#experience"><span class="number">02.</span> Experience</a>
      </li>
      <li data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100">
        <a href="#contacts"><span class="number">03.</span> Contacts</a>
      </li>
    </ul>
  </div>
</div>
