<div id="navbar">
  <div id="main-logo">
    <a href="#home"><img src="../../../assets/logo.png" alt="" /></a>
  </div>

  <div id="nav-links">
    <ul>
      <li>
        <a href="#about"><span class="number">01.</span> About</a>
      </li>
      <li>
        <a href="#experience"><span class="number">02.</span> Experience</a>
      </li>
      <li>
        <a href="#contacts"><span class="number">03.</span> Contacts</a>
      </li>
    </ul>
  </div>
  <div id="socials">
    <img src="../../../assets/socials/Instagram.svg" alt="Instagram" />
    <img src="../../../assets/socials/Linkedin.svg" alt="Linkedin" />
    <img src="../../../assets/socials/GitHub.svg" alt="GitHub" />
    <img src="../../../assets/socials/Twitter.svg" alt="Twitter" />
    <img src="../../../assets/socials/Telegram.svg" alt="Telegram" />
  </div>
</div>
