<header id="home">
  <div id="home-bg-image"></div>
  <div id="header-welcome" aos>
    <h1 class="small-heading highlight" data-aos="fade-up" data-aos-duration="600" data-aos-delay="180">
      Hi, my name is
    </h1>
    <h1 class="big-heading" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="220">Volodymyr Shcherbyna.</h1>
    <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="250">
      <h2>I am a <span class="highlight">frontend developer</span>.</h2>
      <p>Before you decide anything, let me introduce myself first.</p>
      <a href="#about" class="lets-go highlight">Let's go!</a>
    </div>
  </div>
</header>
