<header class="home">
  <div class="home-bg-image"></div>
  <div class="header-welcome">
    <h1 class="small-heading" appHighlight appAOS="500" [aosDelay]="400">Hello, my name is</h1>
    <h1 class="big-heading" appAOS="600" [aosDelay]="500">Volodymyr Shcherbyna.</h1>
    <div appAOS="700" [aosDelay]="600">
      <h2>I am a <span appHighlight>frontend developer</span>.</h2>
      <p>Welcome to my portfolio.</p>
      <a href="#about" class="lets-go" appHighlight appAOS="1000" [aosDelay]="800">Let's go!</a>
    </div>
  </div>
</header>
