<div id="socials">
  <!-- <a href="https://www.instagram.com/aurelionsmol/" appAOS="1000" aosDirection="left-right" [aosDelay]="100">
    <img src="./assets/socials/Instagram.svg" alt="Instagram" />
  </a> -->
  <a
    href="https://www.linkedin.com/in/thespacenoodle/"
    target="_blank"
    rel="noopener noreferrer"
    appAOS="1000"
    aosDirection="left-right"
    [aosDelay]="150"
  >
    <img src="./assets/socials/Linkedin.svg" alt="Linkedin" />
  </a>
  <a
    href="https://github.com/TheSpaceNoodle"
    target="_blank"
    rel="noopener noreferrer"
    appAOS="1000"
    aosDirection="left-right"
    [aosDelay]="200"
  >
    <img src="./assets/socials/GitHub.svg" alt="GitHub" />
  </a>
  <a
    href="https://twitter.com/LeSpaceNoodle"
    target="_blank"
    rel="noopener noreferrer"
    appAOS="1000"
    aosDirection="left-right"
    [aosDelay]="250"
  >
    <img src="./assets/socials/Twitter.svg" alt="Twitter" />
  </a>
</div>
