<div
  id="socials"
  data-aos="fade-left"
  data-aos-duration="1000"
  data-aos-delay="150"
>
  <a href="https://www.instagram.com/aurelionsmol/">
    <img src="./assets/socials/Instagram.svg" alt="Instagram" />
  </a>
  <a href="https://www.linkedin.com/in/thespacenoodle/">
    <img src="./assets/socials/Linkedin.svg" alt="Linkedin" />
  </a>
  <a href="https://github.com/SheogorathD">
    <img src="./assets/socials/GitHub.svg" alt="GitHub" />
  </a>
  <a href="https://twitter.com/LeSpaceNoodle">
    <img src="./assets/socials/Twitter.svg" alt="Twitter" />
  </a>
</div>
