@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=League+Spartan:wght@300;400;500&display=swap");

:root {
  --mainbg: #2c363f;
  --main-color: #fbfef0;
  --important: #fff0b5;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: rgba(59, 71, 82, 1);
  border-radius: 10px;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--main-color);
}

body {
  background-color: var(--mainbg);
  font-family: "League Spartan";
  font-weight: 300;
}

.highlight {
  color: var(--important);
  text-decoration: none;
}

.number {
  color: var(--important);
  font-family: "Dosis";
  font-weight: 300;
}

.content {
  width: 1420px;
  margin: auto;
}
