#experience {
  height: 820px;
}

.section-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 80px;
}

.line1 {
  background-color: var(--important);
  width: calc(1420px / 2 - 97px);
  height: 1.5px;
}

.section-name {
  font-size: 25px;
  line-height: 35px;
  margin: 0 8px;
}

.line2 {
  background-color: var(--important);
  width: calc(1420px / 2 - 97px);
  height: 1.5px;
}

#experience-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
  grid-template-columns: auto auto auto;
  max-width: 1200px;
  margin: 50px auto 0;
}

.card {
  padding: 21px;
  margin: 0 auto 25px;
  background-color: #3b454e;
  width: 390px;
  height: 230px;
  border-radius: 13px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: 0.75s ease-in-out;
  -o-transition: 0.75s ease-in-out;
  transition: 0.75s ease-in-out;
  text-decoration: none;
}

.card:hover {
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
  -webkit-box-shadow: 0px 32px 32px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 32px 32px rgba(0, 0, 0, 0.5);
}

.card-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.card-heading img {
  height: 40px;
}

.card-heading h3 {
  font-size: 32px;
  font-weight: 400;
  width: 230px;
}

.card-text {
  font-size: 24px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
}

img[alt="GitHub"] {
  margin-left: 20px;
}
