<section id="experience">
  <div class="section-heading">
    <div class="line1"></div>
    <div class="section-name">
      <span class="number">02. </span>My Experience
    </div>
    <div class="line2"></div>
  </div>

  <div id="experience-cards">
    <div class="card">
      <div class="card-heading">
        <h3 class="card-title">Kherson Tours</h3>
        <div class="card-links">
          <a href="">
            <img src="../../../assets/LinkOut.svg" alt="Link out" />
          </a>
          <a href="">
            <img src="../../../assets/socials/GitHub.svg" alt="GitHub" />
          </a>
        </div>
      </div>
      <p class="card-text">
        This website was my wery first big project so it’s design not that good.
        Built with <span class="highlight">HTML</span>,
        <span class="highlight">CSS</span>,
        <span class="highlight">JS</span> and than switched to
        <span class="highlight">WordPress</span>.
      </p>
    </div>
    <div class="card">
      <div class="card-heading">
        <h3 class="card-title">KSU Pool</h3>
        <div class="card-links">
          <a href="">
            <img src="../../../assets/LinkOut.svg" alt="Link out" />
          </a>
        </div>
      </div>
      <div class="card-text">
        KSU Pool website. My mission was to create design and frontend part of
        the website. Built with <span class="highlight">Angular</span> (<span
          class="highlight"
          >TypeScript</span
        >), <span class="highlight">Angular Materal</span>,
        <span class="highlight">SCSS</span>.
      </div>
    </div>
    <div class="card">
      <div class="card-heading">
        <h3 class="card-title">Accessible Schedule</h3>
        <div class="card-links">
          <a href="">
            <img src="../../../assets/LinkOut.svg" alt="Link out" />
          </a>
          <a href="">
            <img src="../../../assets/socials/GitHub.svg" alt="GitHub" />
          </a>
        </div>
      </div>
      <div class="card-text">
        My personal project. Built with
        <span class="highlight">MERN</span> stack as my university project more
        like skill test. Can be used but there is better apps for such things.
      </div>
    </div>
    <div class="card">
      <div class="card-heading">
        <h3 class="card-title">Advice Generator</h3>
        <div class="card-links">
          <a href="">
            <img src="../../../assets/socials/GitHub.svg" alt="GitHub" />
          </a>
        </div>
      </div>
      <div class="card-text">
        Simple app that shows advices from
        <span class="highlight">Advice Slip API</span>. Built with
        <span class="highlight">Angular</span> and
        <span class="highlight">SCSS</span>.
      </div>
    </div>
    <div class="card">
      <div class="card-heading">
        <h3 class="card-title">SpaceNoodleForge</h3>
        <div class="card-links">
          <a href="#home">
            <img src="../../../assets/LinkOut.svg" alt="Link out" />
          </a>
          <a
            href="https://github.com/SheogorathD/SpaceNoodleForge"
            target="_blank"
          >
            <img src="../../../assets/socials/GitHub.svg" alt="GitHub" />
          </a>
        </div>
      </div>
      <div class="card-text">
        My <span class="highlight">portfolio website</span> (the one you are
        reading this at). Built with <span class="highlight">Angular</span> and
        <span class="highlight">CSS</span>.
      </div>
    </div>
  </div>
</section>
